.photo{
	height: 15%;
	width: 15%;
	border-radius:50%;
}
h2{
	margin: 0;
	font-size: 3em;
	font-family: "Roboto", serif;
	font-weight: 600;
}
header{
	display: table;
	margin: auto;
	padding: 100px 50px;
}
div{
	display: table;
	margin: 0 auto;
}
section{
	float: left;
}

p{
	color: white;
	font-family: "Slabo 27px", monospace;
}
/*
TO USE FONTS:
font-family: 'Roboto', sans-serif;
font-family: 'Slabo 27px', serif;

*/
